<ul>
<% @actions.each do |action| %>
  <li>
    <%= link_to "Kartong #{action.box.number}", box_url(action.box.id) %>
    <%= "#{action.in_swedish} av #{action.user} #{action.created_at}" %>
  </li>
<% end %>
</ul>
